@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
            {
                <p>
                    Ürün Ara: @Html.TextBox("p")
                    <input type="submit" value="Ara"/>
                </p>
            }
<br />
<table class="table table-striped">
    <tr>
        <th>Ürün Adı</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alıl Fiyatı</th>
        <th>Satış Fiyatı</th>
        <th>Durum</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>  
    </tr>
    @foreach(var u in Model)
            {
                <tr>
                    <td>@u.UrunAd</td>
                    <td>@u.Marka</td>
                    <td>@u.Stok</td>
                    <td>@u.AlisFiyat ₺</td>
                    <td>@u.SatisFiyat ₺</td>
                    <td>@u.Durum</td>
                    <td>@u.Kategori.KategoriAd</td>
                    <td>
                        <a href="/Urun/UrunSil/@u.UrunId" class="btn btn-danger">Sil</a>
                    </td>
                    <td>
                        <a href="/Urun/UrunGetir/@u.UrunId" class="btn btn-success">Güncelle</a>
                    </td>
                    <td>
                        <a href="/Urun/SatisYap/@u.UrunId" class="btn btn-success" style="background-color:#e27575; color:white">Satış Yap</a>
                    </td>
                </tr>
            }
</table>
<a href="/Urun/YeniUrun" class="btn btn-info">Ürün Ekle</a>