@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}

<br />
<h2>Satış Detay</h2>
<br />
<table id="tbl1" class="table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Adet</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
        <th>Tarih</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SatisId</td>
            <td>@x.Urun.UrunAd</td>
            <td>@x.Cari.CariAd @x.Cari.CariSoyad</td>
            <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
            <td>@x.Adet</td>
            <td>@x.Fiyat</td>
            <td>@x.Tutar</td>
            <td>@x.Tarih</td>
        </tr>
    }
</table>
<button class="btn btn-primary">Yazdır</button>